body {
    font-family: 'Roboto', sans-serif;
    margin: 0;

    width: 29cm;
    height: 19cm;
}

.main_section {
    padding: 3rem 7px 7px 7px;

    position: relative;
}

.main_section::after {
    content: "";
    background: url("bg.jpg") center no-repeat;
    opacity: 0.1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.state_logo_holder {
    margin: auto;

    width: 120px;
    justify-content: center;

    padding: 0;
}

.state_logo {
    width: 120px;
    height: 120px;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
    font-variant: small-caps;
}

.header {
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    text-align: center;
}

.participant {
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    margin-top: -0.75rem;
    margin-bottom: 0.75rem;
}

.name {
    font-style: italic;
    font-size: 1.75rem;
    font-weight: 900;
    letter-spacing: 0.3rem;
    color: rgb(24, 17, 18);
}

.participant__values {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.certificate_description {
    margin-top: 1.5rem;
    font-size: 1.5rem;
    text-align: justify;
}

.certificate_description__emphasis {
    color: rgb(185, 51, 73);
    font-weight: bolder;
    font-style: oblique;
}

.qr_code_container {
    display: inline-block;
    margin-left: 3rem;
}

.qr_code_image {
    width: 95px;
    height: 95px;
}

.qr_code_content {
    text-align: center;
    text-decoration: dotted;
    font-size: 0.75rem;
}

.main_title {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    width: 60%;
}

.footer_container {
    width: 100%;
    margin-top: 1rem;

    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    position: fixed;
    bottom: 0;
}

.separator {
    width: 70%;
    display: inline-block;
    text-align: center;
}

.signature_container {
    display: inline-block;
}

.signature_image {
    width: 95px;
    height: 95px;
}

.hse_logo {
    width: 130px;
    height: 95px;
}